# Introduction to Python for Data Analysis
## Part 2: Working with Data
### C Kaligotla

#### Chapter 1: Python Libraries - Pandas, and DataFrames

A Python library (or package) contains things (objects, code) that is not part of the core Python language but is nonetheless useful to some community of users.

Libraries save us from re-inventing the wheel: Once someone has created a library and made it available for download, we can use the contents of the library in our own Python programs.

For example, to use the pandas.DataFrame object in our programs, we must first import the Pandas library into our environment.

A nice guide to pandas: https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html

In [1]:
# Loading pandas library
import pandas as pd

- The pd here is simply shortform or an alias for pandas.
- To call on the library, the structure is <library/alias>.function(input)
- With alias pd for pandas, we can simply type pd.function(input)
    - e.g., pd.read_csv(input file) calls the read_csv function from pandas library into a directed input file

DataFrames are special object structures in the Pandas library
- They are multidimensional arrays, just like excel!
- different columns can have different data types (strings, numbers, boolean...)

#### Creating DataFrame objects

In [2]:
# let's create a DataFrame object called df
# notice the structure:
    #First the Column name, a :, and then individual rows for that column within [ ]
        # just like in a dictionary!
    # a comma to separate columns, and rinse and repeat

df = pd.DataFrame({'Artist':['Billie Holiday','Jimi Hendrix', 'Miles Davis', 'SIA'],
              'Genre': ['Jazz', 'Rock', 'Jazz', 'Pop'],
              'Listeners': [1300000, 2700000, 1500000, 2000000],
              'Plays': [27000000, 70000000, 48000000, 74000000]})

In [7]:
#To view the dataframe, just use print or type the name of the dataframe object
print(df)
df

           Artist Genre  Listeners     Plays
0  Billie Holiday  Jazz    1300000  27000000
1    Jimi Hendrix  Rock    2700000  70000000
2     Miles Davis  Jazz    1500000  48000000
3             SIA   Pop    2000000  74000000

           Artist Genre  Listeners     Plays
0  Billie Holiday  Jazz    1300000  27000000
1    Jimi Hendrix  Rock    2700000  70000000
2     Miles Davis  Jazz    1500000  48000000
3             SIA   Pop    2000000  74000000

#### Importing Data using Pandas DataFrame

    - use pd.read_csv(file) to import a csv file
    - use pd.read_excel(file) to import an excel file
    - For other file types, look up the command!

<div class="alert alert-block alert-info">
    <B>Hint 1:</B>
    Pointing to a file on your computer is always tricky when you don't have a pop-up file system chooser like you do in most Windows applications. Some basic hints:
<OL>
    <LI>If practical, put the data file in the same folder as your Jupyter notebook.  In the example above, I created a subfolder called "Data" and put the bank data there.  This makes it easier for you to remember (and type) the path to the data file.</LI>
    <LI>If your data must reside somewhere else on your computer or network: Be very careful when typing.  Cut and paste the path from Windows Explorer if required.</LI>
    <LI>Beware the slashes/backslashes. Unix-like operating systems seperate directory names with a slash "/" whereas Microsoft Windows uses a backslash "\". In general, Python seperates folders with forward slashes.  The backward slash is used in Python as the 'escape' character.  If you cut and paste from Windows Explorer, you must either change all the backslashes to slashes or add the "r" prefix to your pathname to indicate a "raw" string of text (Python will ingore the special meaning of backslashes).  So the following should work for a more complex file location:
    <OL>
        <LI><code>pd.read_csv('C:/Users/CK/Data/Bank.csv")</code> &mdash; all forward slashes</LI>
        <LI><code>pd.read_csv(r'C:\Users\CK\Data/Bank.csv")</code> &mdash; mixture of slashes and backslashes with the "r" prefix</LI>
     </OL>

</OL>
<B>Hint 2: Use Dropbox / Google Drive / etc.. </B>
 <LI>Save the location as a separate string object (like url)</LI>
 <LI>Ensure there is dl=1 at the end of the string</LI>
     <LI> point pandas input to the url object</LI>
    </div>

In [8]:
url ="https://www.dropbox.com/s/dmhumwapmrqe4j0/Bank.csv?dl=1"
# You can load data directly from a dropbox link - just make sure dl=1 in the end

In [9]:
bank = pd.read_csv(url)
# assign data to an object (dataframe) called bank. You can name this whatever you like

In [13]:
bank # to view the dataFrame

,Employee,EducLev,JobGrade,YrHired,YrBorn,Gender,YrsPrior,PCJob,Salary,Mgmt
0,1,3,1,92,69,Male,1,No,32.0,Non-Mgmt
1,2,1,1,81,57,Female,1,No,39.1,Non-Mgmt
2,3,1,1,83,60,Female,0,No,33.2,Non-Mgmt
3,4,2,1,87,55,Female,7,No,30.6,Non-Mgmt
4,5,3,1,92,67,Male,0,No,29.0,Non-Mgmt
...,...,...,...,...,...,...,...,...,...,...
203,204,3,6,61,35,Male,0,No,95.0,Mgmt
204,205,5,6,59,34,Male,0,No,97.0,Mgmt
205,206,5,6,63,33,Male,0,No,88.0,Mgmt
206,207,5,6,60,36,Male,0,No,94.0,Mgmt
207,208,5,6,62,33,Female,0,No,30.0,Mgmt

    Structure to call functions: <dataFrame_Object>.functions
    ().shape gives # of rows and colms
    ().info() gives the data type and null counts for ALL columns
    ().describe() generates summary statistics for the numerical columns
    
Notice the difference between a property like shape with no parentheses while a method like describe() has parentheses!
Parantheses for functions implies the ability to pass arguments to these functions.

Hint: Press the Shift-Tab key while within the parantheses of a Python method for a list of the possible arguments. Hit Shift-Tab twice to get more detailed help.

In [15]:
bank.shape

(208, 10)

In [16]:
bank.info()
# notice all columns are here!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Employee  208 non-null    int64
 1   EducLev   208 non-null    int64
 2   JobGrade  208 non-null    int64
 3   YrHired   208 non-null    int64
 4   YrBorn    208 non-null    int64
 5   Gender    208 non-null    object
 6   YrsPrior  208 non-null    int64
 7   PCJob     208 non-null    object
 8   Salary    208 non-null    float64
 9   Mgmt      208 non-null    object
dtypes: float64(1), int64(6), object(3)
memory usage: 16.4+ KB

In [18]:
bank.describe()
# notice it only summarizes numerical columns!

,Employee,EducLev,JobGrade,YrHired,YrBorn,YrsPrior,Salary
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,104.500000,3.158654,2.759615,85.326923,54.605769,2.375000,39.921923
std,60.188592,1.467464,1.566529,6.987832,10.318988,3.135237,11.256154
min,1.000000,1.000000,1.000000,56.000000,30.000000,0.000000,26.700000
25%,52.750000,2.000000,1.000000,82.000000,47.750000,0.000000,33.000000
50%,104.500000,3.000000,3.000000,87.000000,56.500000,1.000000,37.000000
75%,156.250000,5.000000,4.000000,90.000000,63.000000,4.000000,44.000000
max,208.000000,5.000000,6.000000,93.000000,73.000000,18.000000,97.000000

In [ ]:
# now repeat the same for the bank dataFrame!

#### Converting strings to categories

It is useful to recognize strings in Data to refer to classifiers or Categories

Pandas permits you to recognize character data to relate to categorical data - called _category_.  

The process for replacing the two (string) "Object" columns with categories is using .astype('category') function.

The key is understanding how to reference columns in Python.  
Two possibilities:
    - square bracket notation: `bank['Gender']`
    - dot notation: `bank.Gender`

Of these two, square bracket notation is slightly more flexible because it permits column names with spaces, e.g., `dataframe['column name']`.  
The dot notation of this would fail because Python has no way of knowing what the space after "column" means: `dataframe.column name`.

Once we know how to reference a column (or a "Series" in Pandas-speak), we can run the type conversion method and specify "category" as the output data type:

In [ ]:
#example: let's convert the gender column in the bank data as a categorical variable
bank['Gender']

In [ ]:
bank['Gender'].astype('category') # While it looks the same - see the last line!
#python recognizes 2 categories!

Running the command above just lists the converted values;
We did not do anything to save it into the "bank" data frame.
To replace the existing column in the data frame, we use the assignment operator:

In [ ]:
bank['Gender'] = bank['Gender'].astype('category')
#This code no rewrites the Gender column as a category type!
bank.info() # look at the Categorty column!

In [ ]:
#Now repeat the same for PCJob Column
bank['PCJob']
# Write down the command to convert this into a category!
#bank['PCJob'] = ......

- Note that you can get summary statistics for categorical data by using .describe() function
    -- just put an (include='category') within the describe function!

In [ ]:
bank.describe(include='category')

### Chapter 2: Data Operations: Filtering and Recoding

#### Selection, Filtering, and Subsetting

In [ ]:
#We can select any column using its label:
df['Artist']

In [ ]:
# you can save this as a separate object or list!
artist_list = df['Artist']
artist_list

In [ ]:
# We can select one or multiple rows using their numbers (inclusive of both bounding row numbers):
# <dataframe>.loc[rows] does this
df.loc[1:3]

In [ ]:
# remember - everything in python begins with a 0
# Call row 0 in the df dataframe!

In [ ]:
# We can select any slice of the table using a both column label and row numbers using loc:
# <dataframe>.loc[rows,['column(s)']] does this
df.loc[1:3,['Artist']]

In [ ]:
# try this on the bank dataframe!
# let's save all employee and Salary data for the first 10 rows!
bank

#### Filtering, and Subsetting

Now it gets more interesting. We can easily filter rows using the values of a specific row.
For example, here are our jazz musicians:

In [ ]:
df[df['Genre'] == "Jazz" ]

In [ ]:
bank['Gender'] == 'Female'
# this expression only checks the conditional across all rows

In [ ]:
# this on the other hand subsets or filters the dataframe based on the boolean check!
bank[bank['Gender'] == "Female"]

In [ ]:
# now let's filter and save as a different dataframe - male and female employees in the bank!
bank_1 = bank[bank['Gender']=="Male"]
bank_2 = bank[bank['Gender']!="Male"] # or == "Female"

In [ ]:
bank_1.describe(include='category')

In [ ]:
bank_2.describe(include='category')

In [ ]:
# now back to the artist data set
# Here are the artists who have more than 1,800,000 listeners:
df[df['Listeners'] > 1800000 ]

In [ ]:
# EXERCISE
## let's filter bank dataset by employees with above median salary!

#### Grouping Function
If you want to group multiple variables in a dataframe based on a categorical column, and run a function, this is the structure:
<dataframe>.groupby('col').function

In [ ]:
## what does this function do?
df.groupby('Genre').sum()

In [ ]:
# Exercise
#. Repeat the same for grouping by Gender in bank data and calculating median Salary

#e.g.,
bank_1['Salary'].mean()

In [ ]:
#. Repeat the same for grouping by PCJob in bank data and calculating median Salary

In [ ]:
# complex filtering
# what does this function do?
bank[(bank['Gender'] == 'Female') & (bank['JobGrade'] == 1)].shape

In [ ]:
# Exercise:
# what does this function do?>
mgmt = [4,5,6]
bank[bank['JobGrade'].isin(mgmt)]

#### Recoding Data

Appending or adding columns

In [ ]:
# let's add a new column called “Dummy” and set every value in the series to zero.
bank['Dummy'] = 0
bank.head()

Now let's drop this column! coz it's useless
Like many functions in Pandas, drop requires an axis argument (where 0=row and 1=column).
The inplace = True argument is also common in Pandas: it is equivalent to bank = bank.drop(...).
That is, it ensures the changes are not part of a new data frame but are written back to the original data frame.

In [ ]:
bank.drop('Dummy', axis=1, inplace=True)
bank.head()